
.login {
	display: none;
	padding-left: 15px;
}

.entrar {
	text-align: center;
}

.horarios {
	display: none;
}

.grupo {
	display: none;
	padding-left: 5%;
}
.salir {
	display: none;
}

#logout {
	float: right;
}

.tabla {
	display: none;
}

.tabla1 {
	display: none;
}



.tabla2 {
	display: none;
}

.brand-logo {
	font-size: 25px!important;
	padding-left: 5%!important;
}

#bienvenido {
	text-align: center;

}

.volver{
	margin-right: 10px;
	margin-bottom: 10px;
}

.pasar{
	margin-left: 10px;
	margin-bottom: 10px;
}