.horarios{
	height: 100%;
}
.header{
	text-align: center;
	font-size: 20px;

}

.header-big{
	background-color: #000AA2;
	width: 100%;
	border-radius: 10px; 
	height: 100px;
}


.login {
	
}

.horarios {
	display: none;
}

.grupo {
	display: none;
}

#logout {
	float: right;
}

.tabla {
	display: none;
}

.tabla1 {
	display: none;
	font-size: small;
}

.tabla2 {
	display: none;
	font-size: small;
}


.titulo {
  width: 100%;
  color: #FFFFFF;  
  margin: 10px;
}

#bienvenido{
	 margin: 20px;
}

#hora{
	 margin: 20px;
	 margin-top: 10px;
}


.logo-img {
    max-height: 55px!important;
    margin-left: -185px;
}

a {
	color: blue;
}


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }